* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border: 24px;
}

#form {
    background-color: white;
    height: 80vh;
    width: 75vw;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#title {
    font-size: 48px;
    font-family: 'Roboto';
    padding-top: 24px;
}

#buttonDiv {
}

#previewButton {
}

#identity {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box
}

.text {
    width: 100%;
    flex: 1;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.textInput {
    flex: 1;
}